<footer>
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#">©Riders Rendezvous by CK developers</a></li>
          <li><a href="/about">ABOUT US</a></li>
          <li><a href="/contact">CONTACT US</a></li>
        </ul>
      </nav>   
    </div>
  </footer>

