<!DOCTYPE html>
<html lang="en">

<head>
  <title>UNCC HTML</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
<body>
  <%- include ('partials/header.ejs') %>
  <%- include ('partials/upnav.ejs') %>
  
  <div class="middlecontainer">
    <p class="frontpagetext">Contact US</p>
    <p class="frontpagetext1">Here you go </p>
    <p>Dial us at 00000</p>
    <p>riders@gmail.com</p>
    
  </div>
  <%- include ('partials/footer.ejs') %>
 
  
</body>
</html>